<div class="container">
<h2>Create new account:</h2><hr>
<form class="signup-form">
  <div class="form-group">
    <label for="username-signup">Username:</label>
    <input type="text" id="username-signup" class="form-control"/>
  </div>
  <div>
    <label for="password-signup">Password:</label>
    <input type="password" id="password-signup" class="form-control"/>
  </div>
  <div class="mt-2">
    <button type="submit" class="btn btn-success">Signup</button>
  </div>
</form>
</div>

<!-- javascript file-->
<script src="/javascript/signup.js"></script>